.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
  border-bottom: 0.5px solid var(--font-color-light-gray);
}

.container:last-child {
  border: none;
}

.container span {
  font-weight: 700;
}

.container p {
  font-size: 15px;
  font-weight: 400;
  color: var(--font-color-gray);
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
}

.text {
  font-size: 15px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .container {
    width: 600px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 300px;
  }
}
