@import "../styles/variable.css";

.content {
  width: 800px;
  min-height: calc(100vh - 84px);
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.titleContainer {
  display: flex;
  gap: 7px;
}

.btnContainer {
  display: flex;
}

.textContainer {
  width: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.imgContainer {
  text-align: center;
}

.imgContainer img {
  width: 100%;
  border-radius: 20px;
  background-color: var(--yellow);
}

.like {
  width: 72px;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 100%;
  background-color: var(--yellow);
  cursor: pointer;
}

.like:hover {
  opacity: 0.8;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 0.5px solid var(--font-color-light-gray);
}

.userInfo,
.btnContainer {
  display: flex;
  gap: 30px;
}

button:hover {
  opacity: 0.5;
}

form {
  position: relative;
}

.comment {
  width: 800px;
  height: 156px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--yellow);
  word-break: break-all;
}

.btn {
  position: absolute;
  top: 70%;
  left: 86%;
  width: 100px;
  padding: 10px;
  background-color: var(--yellow);
  border-radius: 10px;
  font-weight: 700;
}

.icon {
  fill: var(--white);
}

.dogbedge {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 30px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--green);
}

.catbedge {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 30px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
}

.liked {
  color: var(--font-color-black);
}
.notLike {
  fill: var(--white);
  color: var(--white);
}
