@import "../styles/variable.css";

.container {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--yellow);
}

.logo {
  z-index: 10000;
  position: absolute;
  top: 50%;
  left: calc((100vh - 738px / 2) / 2);
}

.container video {
  width: 100%;
  height: auto;
  opacity: 0.8;
}

.loginContainer {
  position: absolute;
  width: 738px;
  height: 100%;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -11px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 20px 0px 0px 20px;
  background-color: var(--white);
}

form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 300px;
  height: 46px;
  padding: 30px 20px;
  border-bottom: 2px solid var(--yellow);
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.btn {
  width: 150px;
  padding: 20px;
  background-color: var(--yellow);
  border-radius: 10px;
  font-weight: 700;
}

.btn:hover {
  color: var(--yellow);
  background-color: var(--font-color-black);
}

.join {
  margin-top: 20px;
}

.joinBtn {
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  color: var(--font-color-gray);
}

.joinBtn:hover {
  color: var(--font-color-light-gray);
}

.text {
  font-size: 14px;
  color: var(--font-color-gray);
}

.google img {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
