.mainPage {
  width: 100%;
  min-height: calc(100vh - 82px);
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 37px;
  text-align: center;
}

.cardGrid {
  margin: 0 auto;
  padding-bottom: 130px;
  max-width: 813px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 37px;
  justify-content: center;
}

.moreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreBtn button {
  margin-bottom: 30px;
  padding: 8px 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  font-weight: 700;
  color: var(--font-color-black);
  background-color: var(--yellow);
  cursor: pointer;
}

/* 태블릿 사이즈 */
@media screen and (max-width: 768px) {
  .cardGrid {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .moreBtn button {
    margin-bottom: 20px;
    padding: 6px 20px;
  }
}

/* 모바일 사이즈 */
@media screen and (max-width: 480px) {
  .mainPage {
    padding: 0 15px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .cardGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
  }

  .moreBtn button {
    margin-bottom: 15px;
    padding: 4px 15px;
  }
}
