@import "../styles/variable.css";

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 70px;
}

.nav li {
  padding: 8px 0px;
  cursor: pointer;
}

.nav li:hover {
  border-bottom: 3px solid var(--white);
}

@media screen and (max-width: 768px) {
  .nav {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }

  .nav li {
    color: var(--white);
    font-size: 30px;
  }
}

@media screen and (max-width: 425px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .nav li {
    font-size: 22px;
  }
}
