@import "../styles/variable.css";

.card {
  width: 379px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.cardImg {
  background-color: var(--font-color-light-gray);
  border-radius: 20px;
}

.cardImg img {
  width: 379px;
  height: 267px;
  object-fit: cover;
  border-radius: 20px;
}

.title {
  padding-top: 19px;
  padding-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
}

.text {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-gray);
}

.author {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 700;
}
