:root {
  --yellow: #ffd700;
  --orange: #ffb800;
  --green: #4caf50;
  --blue: #2196f3;
  --white: #fff;
  --font-color-black: #3f3f3f;
  --font-color-gray: #767676;
  --font-color-light-gray: #b6b6b6;
  --bgc-color-black: 63, 63, 63;
}
